<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logowanie</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="relative h-screen bg-blue-500 flex items-center justify-center">
<!-- Miejsce na logo -->
<div class="absolute top-4 left-4 w-64 h-32 p-7 flex items-center justify-center">
  <img th:src="@{images/image.png}" alt="sii_logo">
</div>

<!-- Formularz logowania -->
<div class="w-full max-w-sm bg-white bg-opacity-75 p-8 rounded-lg shadow-lg">
  <h2 class="text-gray-800 text-2xl font-bold mb-6 text-center">Logowanie</h2>
  <div th:if="${param.error}" class="bg-rose-100 justify-center p-4 ring-1 ring-rose-200 rounded-md">
    <p>Niepoprawne dane logowania</p>
  </div>
  <form method="post" th:action="@{/login}" class="space-y-4">
    <!-- CSRF token placeholder -->
    <input type="hidden" name="_csrf" value="${_csrf.token}" />

    <div>
      <label for="username" class="block text-gray-700 font-medium mb-1">Nazwa użytkownika</label>
      <input type="text" id="username" name="username" required
             class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"/>
    </div>

    <div>
      <label for="password" class="block text-gray-700 font-medium mb-1">Hasło</label>
      <input type="password" id="password" name="password" required
             class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"/>
    </div>

    <button type="submit"
            class="w-full py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition">
      Zaloguj
    </button>
  </form>
</div>
</body>
</html>
